<app-navbar></app-navbar>
<br><br>
<div class="wrapper">
    <div class="main">
        <div class="section section-basic" id="basic-elements">
            <div class="container" style="text-align:center;">
                <h1><b>INFORMACIÓN PARA DESARROLLADORES</b></h1>
                <br>
                <h4 style="text-align: center; size: 150%;">Aqui encontrarás documentación y enlaces útiles si eres un
                    desarrollador</h4>
                <br>
                <blockquote>
                    <p class="blockquote blockquote-danger">
                        Classpip es una herramienta para la gamificación que empezó a desarrollar un estudiante de la
                        EETAC (UPC, Castelledefels) en el año 2016 para su proyecto de fin de grado. Desde entonces, ya
                        són más de 30 alumnos que han pasado por Classpip a lo largo de los años, mejorando el
                        ecosistema y añadiendo nuevas funcionalidades para hacer de Classpip una gran aplicación. <br />
                    </p>
                </blockquote>
            </div>
            <div class="info">
                <div class="icon icon-success">
                    <i class="fab fa-github"></i>
                </div>
                <div class="description">
                    <h3 class="info-title">Para Desarrolladores</h3>
                    <p>Toda la información importante y de interés para desarrolladores se encuentra en nuestra
                        página de GitHub. </p>
                    <a class="btn btn-success btn-link" href="https://github.com/classpip">Descubre más <i
                            class="tim-icons icon-minimal-right"></i> </a>
                </div>
            </div>
            <h4 style="text-align: center;">¡No dudes en contactarnos para cualquier tipo de consulta!</h4>
        </div>
    </div>
</div>
<app-footer></app-footer>