.image {
    height: 150px;
    display:flex;
    margin-top: auto; 
    position: relative;
    justify-content: space-between;
    flex-direction:column;
}

.overlay {
    position: absolute;
    top: 4.2%;
    bottom: 0;
    left: 0%;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    border-radius: 80px; 
    width: 150px; 
    height: 150px;
    cursor: pointer;
}
  
.card-header:hover .overlay {
    opacity: 0.5;
}
  
.text {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.fas:hover{
    color: violet;
    cursor: pointer;
}

.modal {
    background-color: rgba(128, 128, 128, 0.418);
 }
