#sendIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: palevioletred;
}

.input-group {
    width: 85%;
    height: 200%;
    margin-left: auto;
    margin-right: auto;
}

.publicacion-header {
    text-align: justify;
}

.publicacion {
    margin-left: 43px;
    margin-right: auto;
}

.card-comentario {
    background-color: #32325d;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.comentario {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (min-width: 1200px) {
    #autor-name:after{
        content:" "; 
        display:inline-block; 
        width:700px;
    }
    #publi-title, #autor-name {
        display: inline-block;
    }
    #autor-name {
        text-align: left;
    }

    .hidden-ss {
        display: none !important;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    #autor-name:after{
        content:" "; 
        display:inline-block; 
        width:550px;
    }
    #publi-title, #autor-name {
        display: inline-block;
    }
    #autor-name {
        text-align: left;
    }

    .hidden-ss {
        display: none !important;
    }
}

.login{
    color:aqua;
}

.register{
    color:deepskyblue;
}

h5{
    font-weight: bold;
}
