#sendIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: palevioletred;
}

button[name="sendBtn"] {
    background-color: transparent;
    border: none;
    background-repeat:no-repeat;
}

.input-group {
    width: 95%;
    height: 200%;
    margin-left: auto;
    margin-right: auto;
}

.typography-line {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.login{
    color:aqua;
}

.register{
    color:deepskyblue;
}

