#sendIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: palevioletred;
}

.input-group {
    width: 85%;
    height: 200%;
    margin-left: auto;
    margin-right: auto;
}

.publicacion {
    margin-left: 40px;
    margin-right: auto;
}

@media only screen and (min-width: 500px) {
    #autor-name:before{
        content:" "; 
        display:inline-block; 
        width:420px;
    }
    #publi-title, #autor-name {
        display: inline-block;
    }
    #autor-name {
        text-align: left;
    }
}

.login{
    color:aqua;
}

.register{
    color:deepskyblue;
}

