<app-navbar></app-navbar>
<br>
<br>
<div class="wrapper">
  <div class="main">
    <div class="section section-basic" id="basic-elements">

      <div class="container">

        <h2 style="text-align: center;">
          EXPERIENCIAS
        </h2>

        <h4 style="text-align: center;">¡Bienvenido a la página de experiencias, dónde otros profesores comparten sus
          opiniones y consejos sobre su experiencia usando Classpip! </h4>
        <h4 style="text-align: center;">¡Siéntete libre de explicarnos la tuya!</h4>


        <div *ngIf="this.isLogged == true; else loginWarn">
          <div class="button" data-target="#modalNewPubli" (click)="modalNewPubli.show()" style="text-align: center;">
            <button class="btn btn-success btn-default btn-small" type="submit">
              Nueva publicación <i class="tim-icons icon-simple-add"> </i>
            </button>
          </div>
          <!-- <div class="card card-publicacion card-header">
            <form>
              <div class="form-group col-md-4">
                <label for="Titulo publicacion">Título</label>
                <input type="titulo" class="form-control" id="TituloPublicacion"
                  placeholder="Escríbe el título de tu publicación">
              </div>
              <div class="form-group col-md-12">
                <label for="Experiencia">Experiencia</label>
                <textarea class="form-control" id="Experiencia"></textarea>
              </div>
              <div class="card-body" style="text-align: center;">
                <button class="btn btn-success btn-default btn-small" type="submit" (click)="sendPubli()">
                  Publicar
                </button>
              </div>
            </form>
          </div> -->
        </div>
        <ng-template #loginWarn>
          <div class="card card-publicacion card-header">
            <p style="text-align: center;"><a class="login" [routerLink]="['/login']" [queryParams]="{redirectTo: 'experiencias'}">Inicia sesión</a> o <a class="register"
                routerLink="/register">regístarte</a> para poder publicar o comentar experiencias</p>
          </div>
        </ng-template>
        <!-- <br>
        <br>

        <div class="button" style="text-align: center;">
          <button class="btn btn-success btn-round btn-lg" data-target="#myModal2" (click)="myModal2.show()">
            Nueva pulbicación <i class="tim-icons icon-simple-add"> </i> </button>
        </div>-->

        <br>
        <br>
        <div *ngIf="publicaciones && publicaciones.length != 0; else nopublis">
          <div class="card card-publicacion" *ngFor="let publi of publicaciones;">
            <br>
            <div class="publicacion">
              <div class="publicacion-header">

                <div class="autor" id="autor-name">
                  <img *ngIf="publi.autor.imagenPerfil == null" src="../../../assets/img/logo.png" routerLink="/perfil"
                    style="border-radius: 50%" width="20" height="20" />
                  <img *ngIf="publi.autor.imagenPerfil != null" src="http://localhost:3000/api/imagenes/ImagenProfesor/download/{{this.profesor.imagenPerfil}}" routerLink="/perfil"
                    style="border-radius: 50%" width="20" height="20" />
                  &nbsp;
                  <span>{{publi.autor.nombre}} {{publi.autor.primerApellido}}</span>
                </div>
                <span id="publi-title" style="text-align: right;">{{publi.fecha}}</span>
                &nbsp;
                <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-info btn-roundbtn-icon"
                  placement="bottom" tooltip="Eliminar publicación" *ngIf="publi.isPropietario" (click)="borrarPublicacion(publi)">
                  <i class="tim-icons icon-trash-simple"></i>
                </button>
              </div>
              <br class="hidden-ss">

              <br><br>
              <h3 style="text-align:center;"> {{publi.titulo}} {{publi.id}} {{i}}</h3>

              <p style="text-align:justify; margin-right: 10%;">{{publi.publicacion}}</p>
              <div class="button" *ngIf="publi.ficheros != null && publi.ficheros.length > 0"  data-target="#modalFiles" style="text-align: center;">
                <button class="btn btn-success btn-default btn-small" type="button" (click)="modalFiles.show()" (click)="setFilesModal(publi.ficheros)">
                  Ver ficheros
                </button>
              </div>              
              <p *ngIf="publi.imagenes != null && publi.imagenes.length > 0" >{{publi.imagenes}}</p>
              <br>
              <br>
              <div class="likes">
                <i class="fas fa-heart" style="font-size:12px;color:red;" (click)="dislikePubli(publi.id)"
                  *ngIf="publi.isLike"></i>
                <i class="fas fa-heart" style="font-size:12px;color:white;" (click)="likePubli(publi.id)"
                  *ngIf="!publi.isLike"></i>
                &nbsp;
                <span>{{publi.likes.length}} likes</span>
                <br>
                <div style="text-align: center;" *ngIf="publi.imagenes != null && publi.imagenes.length > 0" >
                  <carousel [showIndicators]="false">
                    <div *ngFor="let img of publi.imagenes">
                      <slide>
                        <img alt="{{img}}" class="d-block w-400" src="http://localhost:3000/api/imagenes/ImagenesPublicacion/download/{{img}}" />
                      </slide>
                    </div> 
                  </carousel>
                </div>
              </div>
            </div>
            <br>
            <div class="card card-comentario"  *ngIf="publi.comentarios != undefined" >
              <div class="comentario" *ngFor="let comment of publi.comentarios;" >
                <div class="comentario-header">
                  <div class="autor" id="autor-name" *ngIf="comment.autor" >
                    <img *ngIf="comment.autor.imagenPerfil == null" src="../../../assets/img/logo.png"
                      routerLink="/perfil" style="border-radius: 50%" width="20" height="20" />
                    <img *ngIf="comment.autor.imagenPerfil != null" src="http://localhost:3000/api/imagenes/ImagenProfesor/download{{comment.autor.imagenPerfil}}"
                      routerLink="/perfil" style="border-radius: 50%" width="20" height="20" />
                    &nbsp;
                    <span>{{comment.autor.nombre}} {{comment.autor.primerApellido}}</span>

                  </div>
                <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-info btn-roundbtn-icon"
                  placement="bottom" tooltip="Eliminar comentario" *ngIf="comment.isPropietario" (click)="borrarComment(comment)">
                  <i class="tim-icons icon-trash-simple"></i>
                </button>
                </div>
                <br>
                <p>{{comment.comentario}}</p>
                <br>
                <span id="comment-title">{{comment.fecha}}</span>
              </div>
            </div>
            <div *ngIf="this.isLogged == true">
              <div class="input-group">
                <input id="{{publi.id}}" class="form-control" placeholder="Deja aqui tu comentario" type="text"
                  (focus)="focus2 = true" (blur)="focus2 = false" (keyup.enter)="sendComment(publi.id)">
                <div class="input-group-append">
                  <span class="input-group-text"><i id="sendIcon" class="tim-icons icon-send"
                      (click)="sendComment(publi.id)" ></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #nopublis>
          <div style="text-align: center;">
            <br><br><br>
            <h2>No hay publicaciones</h2>
          </div>
        </ng-template>
      </div>

    <!-- <img src="{{this.newImg}}"/> -->

    </div>
  </div>
  <!-- </div> -->
  <!-- DEFINICIÓN DEL POPUP DE NUEVA PUBLICACIÓN -->
  <div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #modalNewPubli="bs-modal"
    id="modalNewPubli" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width:1250px;">
      <div class="modal-content">

        <div class="modal-header justify-content-center">
          <div class="text-center mb-4 mt-3">
            EXPLÍCANOS TU EXPERIENCIA USANDO CLASSPIP
          </div>
        </div>

        <div class="modal-body">
          <form #publiForm name="newPubliForm">
            <div class="form-group mb-3">
              <label for="titulo">Título*</label>
              <input type="titulo" class="form-control" id="titulo"
                placeholder="Escríbe el título de tu publicación" />
            </div>
            <div class="form-group">
              <label for="experiencia">Experiencia</label>
              <textarea class="form-control" id="experiencia"></textarea>
            </div>
            <div class="form-group">
              <input id="img" type="file" accept='image/*' (change)="getImagen($event)" style="display:none;" multiple>
              <button class="btn btn-info btn-med" (click)="activarInput('img');"> <i class="tim-icons icon-camera-18"></i>&nbsp;Añadir imagenes</button>
              &nbsp;
              <input id="file" type="file" accept='application/*' (change)="getFiles($event)" style="display:none;" multiple>
              <button class="btn btn-success btn-med" (click)="activarInput('file')"> <i class="tim-icons icon-attach-87"></i>&nbsp;Añadir ficheros</button>
            </div>
            <div class="form-group">
              <div class="row">
                <div style="color: violet" class="col" *ngIf="this.imgNames.length > 0">
                  <span *ngFor="let imgName of this.imgNames"><br>{{imgName}} &nbsp; <i
                      class="tim-icons icon-simple-remove" (click)="unselectFile('img', imgName)"></i></span>
                </div>
                <div style="color: violet" class="col" *ngIf="this.fileNames.length > 0">
                  <span *ngFor="let fileName of this.fileNames"><br>{{fileName}} &nbsp; <i
                      class="tim-icons icon-simple-remove" (click)="unselectFile('file', fileName)"></i></span>
                </div>
              </div>
            </div> 
          </form>
          <br>
          <div style="text-align: center;">
            <button class="btn btn-danger btn-med" type="button" (click)="this.resetFormNewPubli()">
              Cerrar
            </button>
            &nbsp;
            <button class="btn btn-primary btn-med" type="submit" (click)="sendPubli()">
              Publicar
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

 <!-- MODAL FICHEROS PUBLICACIÓN -->
  <div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #modalFiles="bs-modal"
    id="modalFiles" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width:1250px;">
      <div class="modal-content">

        <div class="modal-header justify-content-center">
          <div class="text-center mb-4 mt-3">
            FICHEROS
          </div>
        </div>

        <div class="modal-body">
          <button class="btn-default" (click)="downloadAllFiles(this.filesSeeModal)">Descargar todos</button>
          <div style="color: violet">
            <span *ngFor="let fileName of this.filesSeeModal"><br>{{fileName}} &nbsp; <i
                class="tim-icons icon-cloud-download-93" (click)="downloadFile(fileName)"></i></span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <app-footer></app-footer>