<app-navbar></app-navbar>

<br>
<br>
<br>
<br>
<br>

<div class="titulo">Familias disponibles</div>

<br>
<br>
<div class = "contenedor">  
    
    <mat-tab label="Familias publicas">
      <br>
      <div class ='enColumna'>
        <form style = "width: 100%" *ngIf="familiasPublicas;else Aviso_no_familias_publicas">

          <table align= "center" mat-table [dataSource]="dataSourcePublicas" class="mat-elevation-z8">

              <ng-container style="width: 20%" matColumnDef="nombreFamilia">
                <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Nombre </th>
                <td mat-cell *matCellDef="let elemento; let i = index"> {{elemento.familia.nombreFamilia}} ({{propietarios[i]}}) </td>
              </ng-container>              

              <ng-container style="width: 30%" matColumnDef="ejemplos">
                <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Ejemplos </th>

                <td mat-cell *matCellDef="let elemento">
                  <img  style = "width:50px; height: 50px; padding-right: 10px;" [src]="elemento.ejemplo1">
                  <img  style = "width:50px; height: 50px; padding-right: 10px;" [src]="elemento.ejemplo2">
                  <img  style = "width:50px; height: 50px; padding-right: 10px;" [src]="elemento.ejemplo3">
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumnsPublicas"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsPublicas;"></tr>

          </table>
        </form>
        <div class="contenedor">
          <ng-template  #Aviso_no_familias_publicas><div class="texto">No hay familias de imagenes de perfil publicas</div></ng-template>
        </div>
      </div>
    </mat-tab>
    <button type="button" class="btn Back" (click)="goBack()">Volver </button>
  
</div>

<app-footer></app-footer>
