<app-navbar></app-navbar>
<br>
<br>
<div class="wrapper">
    <div class="main">
        <div class="section section-basic" id="basic-elements">
            <div class="container">

                <h1 style="text-align: center;"><b>FUNCIONALIDADES</b>
                </h1>

                <h4 style="text-align: center;">Descubre todas las funcionalidades que Classpip ofrece a sus usuarios y
                    conviértete en todo un experto</h4>
                <br>

                <alert [type]="'info alert'">
                    <span style="size: 200px"><b> DASHBOARD </b></span>
                </alert>

                <br>
                <h4>La aplicación Dashboard es la herramienta de gestión del profesor, dónde puede configurar todos los
                    juegos, inscribir alumnos y generar los grupos pertinentes con ellos, añadir o descargar recursos,
                    entre otras funciones. El Dashboard es la base de todo.</h4>
                <br>
                <alert [type]="'warning alert'">
                    <span style="size: 200px"><b> APLICACIÓN MÓVIL PARA ALUMNOS </b></span>
                </alert>
                <br>
                <h4>Sin la aplicación móvil para el alumno, este no tendría forma de jugar a los juegos propuestos por
                    el profesor. De uso sencillo e intuitivo, esta aplicación no solo permite a los usuarios jugar a los
                    juegos que propone el profesors sino que además permite personalizar el perfil del alumno asi como
                    tener un control sobre los grupos en los que esta inscrito.</h4>
                <br>
                <h3 style="text-align: center;">JUEGOS DISPONIBLES</h3>
                <div class="row row-grid justify-content-between">

                    <div class="row">
                        <div class="col-3"
                            tooltip="¡Suma puntos por llegar a tiempo, hacer los deberes o sacar buenas notas!">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fas fa-star" style="color: rgb(255, 86, 241);"> </i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p></p>
                                                <p class="card-category">JUEGO DE PUNTOS</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3  " tooltip="¡Aprende mientras completas las diferentes colecciones!">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fas fa-images" style="color: rgb(0, 89, 255);"> </i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p></p>
                                                <p class="card-category">JUEGO DE COLECCIÓN</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3"
                            tooltip="¡Responde las preguntas correctamente lo más rápido posible para conseguir el máximo de puntos!">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fas fa-question" style="color: rgb(255, 35, 20);"> </i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p></p>
                                                <p class="card-category">JUEGO DE CUESTIONARIO</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" tooltip="¡Crea tu porpio avatar para participar en clase!">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fas fa-user-circle" style="color: rgb(255, 102, 0);">
                                                </i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p></p>
                                                <p class="card-category">JUEGO DE AVATARES</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class class="row">
                        <div class="col-3 "
                            tooltip="¡Compite contra tus compañeros y escala posiciones en la clasificación para ser el mejor!">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fas fa-trophy" style="color: rgb(255, 234, 46);"> </i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p></p>
                                                <p class="card-category">JUEGO DE COMPETICIÓN</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3  " tooltip="¡Aprende mientras descubres el entorno!">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fas fa-map-marker-alt" style="color: rgb(47, 156, 175);"> </i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p></p>
                                                <p class="card-category">JUEGO DE GEOCACHING</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" tooltip="¡Evalúate a ti y a tus compañeros!">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class=" fas fa-check-circle " style="color: rgb(20, 255, 90);"> </i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p></p>
                                                <p class="card-category">JUEGO DE EVALUACIÓN</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" tooltip="¡Realiza votaciones de forma eficaz y evita discusiones!">
                            <div class="card card-stats">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fas fa-hand-paper" style="color: white;">
                                                </i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p></p>
                                                <p class="card-category">JUEGO DE VOTACIÓN</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>



                </div>
                <br>

                <alert [type]="'success alert'">
                    <span style="size: 200px"><b> CLASSPIP EXPRESS </b></span>
                </alert>
                <br>

                <h4>Classpip Express es la aplicación de juego rápido que permite al profesor generar, des del
                    Dashboard, juegos que no requieren al alumno estar registrado en la plataforma para poder jugar,
                    únicamente con introducir el nombre de usuario y la clave del juego que ha generado el profesor, el
                    alumno podrá participar en la actividad.</h4>

                    <div class="button" style="text-align: center;">
                        <button class="btn btn-primary btn-round btn-lg" (click)="goJuegoRapido()">ACCEDE A CLASSPIP EXPRESS <i class="fas fa-rocket" style="size: 150%"></i></button>
                    </div>

            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>