<app-navbar></app-navbar>
<br>
<br>
<div class = "wrapper">
    <div class = "main">
        <div class="section section-basic" id="basic-elements">
           <div class= "container">
               
               <h4>Cualquiera de los juegos que Classpip tiene disponibles para sus usuarios está disponible para jugarlo de forma individual o en equipos, los cuáles pueden ser generados por el profesor o de manera aleatoria usando la aplicación</h4>
               <br>
               <h2>JUEGO DE PUNTOS</h2>
               <h4>En este tipo de juego el profesor asignarà puntos a sus alumnos en función de sus méritos (puntualidad, calificaciones, buen trabajo en equipo, apoyo a compañeros... ) y se los quitará en función de sus deméritos (malas calificaciones, llegar tarde, pelearse con un compañero, no prestar atención...). A medida que los alumnos van acumulando puntos, ascienden en el ranking de puntos, obteniendo diferentes privilegios según alcanzan diferentes niveles de puntuación (poder escuchar música durante el examen, llevarse a casa durante el fin de semana la maleta de cosas interesantes de la profesora...)</h4>
                <br>
                <h2>JUEGO DE COLECCIÓN</h2>
                <h4>En este tipo de juego, el alumno colecciona diferentes cromos de una colección concreta, la cual puede ir variando según la asignatura o el tema que se esté tratando en ese momento (filósofos, músicos, comandos informático...) y una vez completada la colección, esta te muestra algún tipo de información relevante de cara a la asignatura (la obra de algún filósofo, una partitura, el código de un programa...). El profesor podrá ir asignando paquetes de cromos a sus alumnos según sus méritos en clase.</h4>
                <br>
                <h2>JUEGO DE PREGUNTAS</h2>
                <h4>En este juego el profesor plantea un conjunto de preguntas con respuesta múltiple que deben responder los alumnos, obteniendo un punto por cada pregunta correcta. El alumno con mayor número de aciertos es el ganador de este juego.</h4>            
            </div> 
         </div>       
    </div>
</div>

<app-footer></app-footer>