<app-navbar></app-navbar>

<br>
<br>
<div class="wrapper">
  <div class="main">
    <div class="section section-basic" id="basic-elements">
      <div class="container" style="text-align:center;">
        <h1>RECURSOS PÚBLICOS</h1>
        <br>
        <h4 style="text-align: center; size: 150%;">¡Bienvenido a los recursos públicos! Aquí puedes ver y descargar todos los recursos que otros profesores han subido para
           utilizarlos en tus clases. Además, si inicias sesión, ¡puedes añadirlo directamente a tus propios recursos!</h4>  
      </div>
    </div>

    <div class="container">
      <!-- <div *ngIf="this.isLogged == true; else loginWarn"> -->
        <div class="button" data-target="#modalUploadRsc" (click)="modalUploadRsc.show()" style="text-align: center;">
          <button class="btn btn-success btn-default btn-small" type="submit">
            Subir recurso <i class="tim-icons icon-simple-add"> </i>
          </button>
        </div>
        <br>
      <!-- </div>
      <ng-template #loginWarn>
        <div class="card card-upload card-header">
          <p style="text-align: center;"><a class="login" routerLink="/login">Inicia sesión</a> o <a class="register"
              routerLink="/register">regístarte</a> para poder subir recursos</p>
        </div>
      </ng-template> -->
    </div>
      

    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','preguntas']">
            <div class="card card-rsc">
              <div class="card-header" style="text-align: center;">
                <h4>PREGUNTAS</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 150px; height: 150px;"
                    src="../../../assets/img/preguntas.png" />
                </div>
              </div>
            </div>
          </a>
        </div>
       <!--  <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','cuestionarios']">
            <div class="card">
              <div class="card-header" style="text-align: center;">
                <h4>CUESTIONARIOS</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 150px; height: 150px;"
                    src="../../../assets/img/cuestionarios.png" />
                </div>
              </div>
            </div>
          </a>
        </div> -->
        <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','colecciones']">
            <div class="card card-rsc">
              <div class="card-header" style="text-align: center;">
                <h4>COLECCIONES</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 150px; height: 150px;"
                    src="../../../assets/img/coleccion.png" />
                </div>
              </div>
              
            </div>
          </a>
        </div>
        <!-- <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','puntos']">
            <div class="card">
              <div class="card-header" style="text-align: center;">
                <h4>PUNTOS</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 150px; height: 150px;"
                    src="../../../assets/img/puntos.png" />
                </div>
              </div>
            </div>
          </a>
        </div> -->
        <!-- <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','escenarios']">
            <div class="card">
              <div class="card-header" style="text-align: center;">
                <h4>ESCENARIOS</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 150px; height: 150px;"
                    src="../../../assets/img/escenarios.webp" />
                </div>
              </div>
            </div>
          </a>
        </div> -->
        <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','avatares']">
            <div class="card card-rsc">
              <div class="card-header" style="text-align: center;">
                <h4>AVATARES</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 150px; height: 150px;"
                    src="../../../assets/img/avatares.png" />
                </div>
              </div>
              
            </div>
          </a>
        </div>
        <!-- <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','rubricas']">
            <div class="card">
              <div class="card-header" style="text-align: center;">
                <h4>RÚBRICAS</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 150px; height: 150px;"
                    src="../../../assets/img/rubricas.png" />
                </div>
              </div>
              
            </div>
          </a>
        </div> -->
        <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos', 'imagenes']">
            <div class="card card-rsc" id="card">
              <div class="card-header" style="text-align: center;">
                <h4>IMÁGENES DE PERFIL</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid rounded-circle"
                    style="border-radius: 8px; width: 150px; height: 150px;" src="../../../assets/img/logo.png" />
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','satisfaccion']">
            <div class="card">
              <div class="card-header" style="text-align: center;">
                <h4>CUESTIONARIOS DE SATISFACCIÓN</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 200px; height: 200px;"
                    src="../../../assets/img/satisfaccion.png" />
                </div>
              </div>
              
            </div>
          </a>
        </div> -->
      </div>
    </div>

  </div>

</div>

<!-- POPUP SUBIR RECURSOS -->
<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black"
    #modalUploadRsc="bs-modal" id="modalShowQuestion" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="title title-up">SUBIR NUEVO RECURSO</h4>
            </div>
            <div class="modal-body">
              <form name="rscForm">
                <div class="form-group" *ngIf="this.typeRscUpload == undefined" >
                  <label for="typeRsc">Tipo de recurso</label>
                    <select class="form-control" id="typeRsc" aria-placeholder="Seleccione un tipo de recurso">
                      <option style="color: black;">Seleccione un tipo de recurso...</option>"
                      <option style="color: black;">Pregunta</option>
                      <option style="color: black;">Colección</option>
                      <option style="color: black;">Avatar</option>
                      <option style="color: black;">Imágenes de perfil</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="this.typeRscUpload == 'Avatar'" >
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
              
                
              </form>
            </div>
            <div class="modal-footer">
              <div style="text-align: center; margin-left: auto; margin-right: auto;">
                <button class="btn btn-danger btn-lg" data-dismiss="modal" type="button" (click)="modalUploadRsc.hide()" (click)="resetForm()">
                    Cerrar
                </button>
                &nbsp;
                <button type="submit" class="btn btn-success btn-lg" *ngIf="this.typeRscUpload == undefined" (click)="uploadType()">Siguiente</button>
                <!-- <button type="submit" class="btn btn-success btn-lg" *ngIf="this.uploadByJson == undefined" (click)="uploadType()">Siguiente</button> -->
                <button type="submit" class="btn btn-primary btn-lg" *ngIf="this.typeRscUpload != undefined" (click)="uploadResource()">Subir</button>
              </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>