<app-navbar></app-navbar>

<br>
<br>
<div class="wrapper">
  <div class="main">
    <div class="section section-basic" id="basic-elements">
      <div class="container" style="text-align:center;">
        <h1>RECURSOS PÚBLICOS</h1>
        <br>
        <h4 style="text-align: center; size: 150%;">¡Bienvenido a los recursos públicos! Aquí puedes ver y descargar
          todos los recursos que otros profesores han subido para
          utilizarlos en tus clases. Además, si inicias sesión, ¡puedes añadirlo directamente a tus propios recursos!
        </h4>
      </div>
    </div>

    <div class="container">
      <!-- *********** DESCOMENTAR ESTO CUANDO ESTE HECHO SUBIR RECURSOS *************** -->
      <!-- <div *ngIf="this.isLogged == true; else loginWarn"> -->
      <div class="button" data-target="#modalUploadRsc" (click)="modalUploadRsc.show()" style="text-align: center;">
        <button class="btn btn-success btn-default btn-small" type="submit">
          Subir recurso <i class="tim-icons icon-simple-add"> </i>
        </button>
      </div>
      <br>
      <!-- </div>
      <ng-template #loginWarn>
        <div class="card card-upload card-header">
          <p style="text-align: center;"><a class="login" routerLink="/login">Inicia sesión</a> o <a class="register"
              routerLink="/register">regístarte</a> para poder subir recursos</p>
        </div>
      </ng-template> -->
    </div>


    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','preguntas']">
            <div class="card card-rsc">
              <div class="card-header" style="text-align: center;">
                <h4>PREGUNTAS</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 150px; height: 150px;"
                    src="../../../assets/img/preguntas.png" />
                </div>
              </div>
            </div>
          </a>
        </div>
        <!--  <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','cuestionarios']">
            <div class="card">
              <div class="card-header" style="text-align: center;">
                <h4>CUESTIONARIOS</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 150px; height: 150px;"
                    src="../../../assets/img/cuestionarios.png" />
                </div>
              </div>
            </div>
          </a>
        </div> -->
        <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','colecciones']">
            <div class="card card-rsc">
              <div class="card-header" style="text-align: center;">
                <h4>COLECCIONES</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 150px; height: 150px;"
                    src="../../../assets/img/coleccion.png" />
                </div>
              </div>

            </div>
          </a>
        </div>
        <!-- <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','puntos']">
            <div class="card">
              <div class="card-header" style="text-align: center;">
                <h4>PUNTOS</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 150px; height: 150px;"
                    src="../../../assets/img/puntos.png" />
                </div>
              </div>
            </div>
          </a>
        </div> -->
        <!-- <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','escenarios']">
            <div class="card">
              <div class="card-header" style="text-align: center;">
                <h4>ESCENARIOS</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 150px; height: 150px;"
                    src="../../../assets/img/escenarios.webp" />
                </div>
              </div>
            </div>
          </a>
        </div> -->
        <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','avatares']">
            <div class="card card-rsc">
              <div class="card-header" style="text-align: center;">
                <h4>AVATARES</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 150px; height: 150px;"
                    src="../../../assets/img/avatares.png" />
                </div>
              </div>

            </div>
          </a>
        </div>
        <!-- <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','rubricas']">
            <div class="card">
              <div class="card-header" style="text-align: center;">
                <h4>RÚBRICAS</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 150px; height: 150px;"
                    src="../../../assets/img/rubricas.png" />
                </div>
              </div>
              
            </div>
          </a>
        </div> -->
        <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos', 'imagenes']">
            <div class="card card-rsc" id="card">
              <div class="card-header" style="text-align: center;">
                <h4>IMÁGENES DE PERFIL</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid rounded-circle"
                    style="border-radius: 8px; width: 150px; height: 150px;" src="../../../assets/img/logo.png" />
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- <div class="col-md-10 ml-auto col-xl-4 mr-auto">
          <a class="rsc-card" [routerLink]="['/recursos','satisfaccion']">
            <div class="card">
              <div class="card-header" style="text-align: center;">
                <h4>CUESTIONARIOS DE SATISFACCIÓN</h4>
              </div>
              <div class="card-footer" style="text-align: center;">
                <div class="image">
                  <img class="img-center img-fluid " style="border-radius: 8px; width: 200px; height: 200px;"
                    src="../../../assets/img/satisfaccion.png" />
                </div>
              </div>
              
            </div>
          </a>
        </div> -->
      </div>
    </div>

  </div>

</div>

<!-- POPUP SUBIR RECURSOS -->
<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #modalUploadRsc="bs-modal"
  id="modalUploadRsc" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header justify-content-center">
        <h4 class="title title-up">SUBIR NUEVO RECURSO</h4>
      </div>

      <div class="modal-body">
        <form name="rscForm">
          <!-- *********** FORM TYPE RESOURCE *************** -->
          <div class="form-group" *ngIf="this.typeRscUpload == undefined">
            <label for="typeRsc">Tipo de recurso*</label>
            <select class="form-control" id="typeRsc">
              <option style="color: black;">Seleccione un tipo de recurso...</option>"
              <option style="color: black;">Pregunta</option>
              <option style="color: black;">Colección</option>
              <option style="color: black;">Avatar</option>
              <option style="color: black;">Imágenes de perfil</option>
            </select>
          </div>

          <!-- *********** FORM PREGUNTA *************** -->
          <div *ngIf="this.typeRscUpload == 'Pregunta'">
            <div *ngIf="this.typeQuestion== undefined && this.finishForm == false">
              <div class="form-group">
                <label for="tituloPregunta">Título*</label>
                <input type="text" class="form-control" id="tituloPregunta" placeholder="Título">
              </div>
              <div class="form-group">
                <label for="tipoPregunta">Tipo de pregunta*</label>
                <select class="form-control" id="tipoPregunta">
                  <option style="color: black;">Seleccione un tipo...</option>"
                  <option style="color: black;">Cuatro opciones</option>
                  <option style="color: black;">Emparejamiento</option>
                  <option style="color: black;">Respuesta abierta</option>
                  <option style="color: black;">Verdadero o falso</option>
                </select>
              </div>
            </div>

            <div *ngIf="this.typeQuestion != undefined">
              <form name="preguntaForm">
                <!-- *************COMUNES***************** -->
                <div class="form-group" *ngIf="this.respuestasForm == false">
                  <label for="tematica">Temática*</label>
                  <input type="text" class="form-control" id="tematica" placeholder="Temática">
                </div>
                <div class="form-group" *ngIf="this.respuestasForm == false">
                  <label for="pregunta">Pregunta*</label>
                  <input type="text" class="form-control" id="pregunta" placeholder="Pregunta">
                </div>
                <div class="form-group" *ngIf="this.respuestasForm == false">
                  <label for="feddback1">Feedback positivo (respuesta si acierta)*</label>
                  <input type="text" class="form-control" id="feedback1" placeholder="Feedback positivo">
                </div>
                <div class="form-group" *ngIf="this.respuestasForm == false">
                  <label for="feedback2">Feedback negativo (respuesta si falla)*</label>
                  <input type="text" class="form-control" id="feedback2" placeholder="Feedback negativo">
                </div>

                <!-- *************RESPUESTA ABIERTA Y VoF***************** -->
                <div class="form-group"
                  *ngIf="this.respuestasForm == false && this.typeQuestion == 'Respuesta abierta'">
                  <label for="respAbierta">Respuesta correcta*</label>
                  <input type="text" class="form-control" id="respAbierta" placeholder="Respuesta correcta">
                </div>
                <div class="form-group"
                  *ngIf="this.respuestasForm == false && this.typeQuestion == 'Verdadero o falso'">
                  <label for="respVoF">Respuesta correcta*</label>
                  <select class="form-control" id="respVoF">
                    <option style="color: black;">verdadero</option>"
                    <option style="color: black;">falso</option>
                  </select>
                </div>

                <!-- ***********IMAGEN PREGUNTA*************** -->
                <div class="form-group" *ngIf="this.respuestasForm == false">
                  <label for="imgPregunta">Selecciona una imagen (opcional)</label>
                  <input #file id="imgPregunta" type="file" accept="image/*" (change)="getImagenPregunta($event)"
                    style="display: none;">
                  <br>
                  <button class="btn btn-default" (click)="activarInputImagen('imgPregunta')"><i
                      class="tim-icons icon-attach-87"></i>&nbsp;Añadir imagen</button>
                  &nbsp;
                  <span class="imgName" *ngIf="this.preguntaWrapper.imagen == null">Ninguna imagen seleccionada</span>
                  <span class="imgName"
                    *ngIf="this.preguntaWrapper.imagen != null">{{this.preguntaWrapper.imagen}}</span>
                  <br><br>
                </div>

                <!-- *************RESPUESTA CORRECTA OPCIONES***************** -->
                <div class="form-group" *ngIf="this.respuestasForm == true && this.typeQuestion == 'Cuatro opciones'">
                  <label for="respOpciones">Respuesta correcta*</label>
                  <input type="text" class="form-control" id="respOpciones" placeholder="Respuesta correcta">
                </div>

                <!-- ***********RESPUESTAS INCORRECTAS*************** -->
                <div class="form-group" *ngIf="this.respuestasForm == true && this.typeQuestion == 'Cuatro opciones'">
                  <label for="respInc1">Respuesta incorrecta 1*</label>
                  <input type="text" class="form-control" id="respInc1" placeholder="Respuesta incorrecta 1">
                </div>
                <div class="form-group" *ngIf="this.respuestasForm == true && this.typeQuestion == 'Cuatro opciones'">
                  <label for="respInc2">Respuesta incorrecta 2*</label>
                  <input type="text" class="form-control" id="respInc2" placeholder="Respuesta incorrecta 2">
                </div>
                <div class="form-group" *ngIf="this.respuestasForm == true && this.typeQuestion == 'Cuatro opciones'">
                  <label for="respInc3">Respuesta incorrecta 3*</label>
                  <input type="text" class="form-control" id="respInc3" placeholder="Respuesta incorrecta 3">
                </div>
              </form>
              <div
                *ngIf="this.finishForm == true && this.respuestasForm==true && this.typeQuestion == 'Emparejamiento'">
                <form name="parejasForm">
                  <!-- ***********EMPAREJAMIENTOS*************** -->
                  <div class="form-row">
                    <label style="margin-left: auto; margin-right: auto;">Si quieres añadir más de 4 parejas, añade
                      primero las filas</label>
                  </div>
                  <div class="form-row" *ngFor="let pareja of parejasMap | keyvalue">
                    <div class="form-group col-md-6">
                      <label for="parA{{pareja.key}}">Pareja {{pareja.key}}<span *ngIf="pareja.key <= 4">*</span>
                      </label>
                      <span *ngIf="pareja.key > 4" (click)='deleteRowParejaForm()'>&nbsp;<i
                          class='tim-icons icon-trash-simple' style="color: red;"></i></span>
                      <input type="text" class="form-control" id="parA{{pareja.key}}" placeholder="Opción A">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="parB{{pareja.key}}">&nbsp;</label>
                      <input type="text" class="form-control" id="parB{{pareja.key}}" placeholder="Opción B">
                    </div>
                  </div>
                  <div class="form-row">
                    <button class="btn btn-primary" (click)="addRowParejaForm()">Add row</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- *********** FORM COLECCION *************** -->
          <div *ngIf="this.typeRscUpload == 'Colección'">
            <!-- *********** DATOS COLECCION *************** -->
            <div *ngIf="!this.cromosForm">
              <div class="form-group">
                <label for="nombreColeccion">Nombre colección*</label>
                <input type="text" class="form-control" id="nombreColeccion" placeholder="Nombre">
              </div>
              <div class="form-group">
                <label for="dosCaras">Quieres que los cromos tengan dos caras?</label>
                <select class="form-control" id="dosCaras">
                  <option style="color: black;">Sí</option>
                  <option style="color: black;">No</option>
                </select>
              </div>
              <div class="form-group">
                <label for="imgColeccion">Imagen colección</label>
                  <input #file id="imgColeccion" type="file" accept="image/*" (change)="getImagenColeccion($event)"
                    style="display: none;">
                  <br>
                  <button class="btn btn-default" (click)="activarInputImagen('imgColeccion')"><i
                      class="tim-icons icon-attach-87"></i>&nbsp;Añadir imagen</button>
                  &nbsp;
                  <span class="imgName" *ngIf="this.coleccionWrapper.imagenColeccion== null">Ninguna imagen seleccionada</span>
                  <span class="imgName" *ngIf="this.coleccionWrapper.imagenColeccion != null">{{this.coleccionWrapper.imagenColeccion}}</span>
                  <br><br>
              </div>
            </div>

            <!-- *********** CROMOS FORM *************** -->
            <div *ngIf="this.cromosForm">
              <form name='cromosForm'>
                <h3>FALTA AÑADIR PARA SUBIR CROMOS</h3>
              </form>
            </div>
          </div>

          <!-- *********** FORM AVATAR *************** -->
          <div *ngIf="this.typeRscUpload == 'Avatar'">
            <!-- ********* DATOS AVATARES *********** -->
            <div *ngIf="!this.imgAvataresForm">
              <div class="form-group">
                <label for="nombreAvatar">Nombre família avatares*</label>
                <input type="text" class="form-control" id="nombreAvatar" placeholder="Nombre">
              </div>
              <div class="form-group">
                <label for="nombreCompAv1">Nombre complementos 1*</label>
                <input type="text" class="form-control" id="nombreCompAv1" placeholder="Complemento 1">
              </div>
              <div class="form-group">
                <label for="nombreCompAv2">Nombre complementos 2*</label>
                <input type="text" class="form-control" id="nombreCompAv2" placeholder="Complemento 2">
              </div>
              <div class="form-group">
                <label for="nombreCompAv3">Nombre complementos 3*</label>
                <input type="text" class="form-control" id="nombreCompAv3" placeholder="Complemento 3">
              </div>
              <div class="form-group">
                <label for="nombreCompAv4">Nombre complementos 4*</label>
                <input type="text" class="form-control" id="nombreCompAv4" placeholder="Complemento 4">
              </div>
            </div>

            <!-- ********** IMAGENES AVATARES ************ -->
            <div *ngIf="this.imgAvataresForm">
              <form name='imgAvataresForm'>
                <div class="form-group">
                  <label for="imgSilueta">Imagen de silueta*</label>
                  <input #file id="imgSilueta" type="file" accept="image/*" (change)="getImagenSilueta($event)"
                    style="display: none;">
                  <br>
                  <button class="btn btn-default" (click)="activarInputImagen('imgSilueta')"><i
                      class="tim-icons icon-attach-87"></i>&nbsp;Añadir imagen</button>
                  &nbsp;
                  <span class="imgName" *ngIf="this.avatarWrapper.silueta == null">Ninguna imagen seleccionada</span>
                  <span class="imgName" *ngIf="this.avatarWrapper.silueta != null">{{this.avatarWrapper.silueta}}</span>
                  <br><br>
                </div>
                <div class="form-group">
                  <label for="imgComp1">Imágenes de {{this.avatarWrapper.nombreComplemento1}}*</label>
                  <input #file id="imgComp1" type="file" accept="image/*" multiple (change)="getImagenesComp1($event)"
                    style="display: none;">
                  <br>
                  <button class="btn btn-default" (click)="activarInputImagen('imgComp1')"><i
                      class="tim-icons icon-attach-87"></i>&nbsp;Añadir imagen</button>
                  &nbsp;
                  <span class="imgName" *ngIf="this.avatarWrapper.complemento1.length == 0">Ninguna imagen seleccionada</span>
                  <span class="imgName" *ngIf="this.avatarWrapper.complemento1.length != 0">{{this.avatarWrapper.complemento1}}</span>
                  <br><br>
                </div>
                <div class="form-group" *ngIf="this.respuestasForm == false">
                  <label for="imgComp2">Imágenes de {{this.avatarWrapper.nombreComplemento2}}*</label>
                  <input #file id="imgComp2" type="file" accept="image/*" multiple (change)="getImagenesComp2($event)"
                    style="display: none;">
                  <br>
                  <button class="btn btn-default" (click)="activarInputImagen('imgComp2')"><i
                      class="tim-icons icon-attach-87"></i>&nbsp;Añadir imagen</button>
                  &nbsp;
                  <span class="imgName" *ngIf="this.avatarWrapper.complemento2.length == 0">Ninguna imagen seleccionada</span>
                  <span class="imgName" *ngIf="this.avatarWrapper.complemento2.length != 0">{{this.avatarWrapper.complemento2}}</span>
                  <br><br>
                </div>
                <div class="form-group" *ngIf="this.respuestasForm == false">
                  <label for="imgComp3">Imágenes de {{this.avatarWrapper.nombreComplemento3}}*</label>
                  <input #file id="imgComp3" type="file" accept="image/*" multiple (change)="getImagenesComp3($event)"
                    style="display: none;">
                  <br>
                  <button class="btn btn-default" (click)="activarInputImagen('imgComp3')"><i
                      class="tim-icons icon-attach-87"></i>&nbsp;Añadir imagen</button>
                  &nbsp;
                  <span class="imgName" *ngIf="this.avatarWrapper.complemento1.length == 0">Ninguna imagen seleccionada</span>
                  <span class="imgName" *ngIf="this.avatarWrapper.complemento3.length != 0">{{this.avatarWrapper.complemento3}}</span>
                  <br><br>
                </div>
                <div class="form-group" *ngIf="this.respuestasForm == false">
                  <label for="imgComp4">Imágenes de {{this.avatarWrapper.nombreComplemento4}}*</label>
                  <input #file id="imgComp4" type="file" accept="image/*" multiple (change)="getImagenesComp4($event)"
                    style="display: none;">
                  <br>
                  <button class="btn btn-default" (click)="activarInputImagen('imgComp4')"><i
                      class="tim-icons icon-attach-87"></i>&nbsp;Añadir imagen</button>
                  &nbsp;
                  <span class="imgName" *ngIf="this.avatarWrapper.complemento4.length == 0">Ninguna imagen seleccionada</span>
                  <span class="imgName" *ngIf="this.avatarWrapper.complemento4.length != 0">{{this.avatarWrapper.complemento4}}</span>
                  <br><br>
                </div>
              </form>
            </div>
          </div>
          <!-- *********** FORM IMAGENES PERFIL *************** -->
          <div *ngIf="this.typeRscUpload == 'Imágenes de perfil'">
            <!-- ********** NOMBRE FAMILIA ************ -->
            <div class="form-group">
              <label for="nombreImgsPerfil">Nombre família imágenes de perfil*</label>
              <input type="text" class="form-control" id="nombreImgsPerfil" placeholder="Nombre">
            </div>
            <!-- ********** IMÁGENES ************ -->
            <div class="form-group">
              <label for="imgsPerfil">Imagenes*</label>
              <input #file id="imgsPerfil" type="file" accept="image/*" (change)="getImagenesPerfil($event)"
                style="display: none;">
              <br>
              <button class="btn btn-default" (click)="activarInputImagen('imgsPerfil')"><i
                  class="tim-icons icon-attach-87"></i>&nbsp;Añadir imagen</button>
              &nbsp;
              <span class="imgName" *ngIf="this.imgPerfilWrapper.imagenes.length == 0">Ninguna imagen
                seleccionada</span>
              <span class="imgName" *ngIf="this.imgPerfilWrapper.imagenes.length != 0">
                <span *ngFor="let imgName of this.imgPerfilWrapper.imagenes">{{this.imgPerfilWrapper.imagenes}}</span>
              </span>
              <br><br>
            </div>
          </div>
        </form>
      </div>

      <!-- *********** BOTONES SUBMIT FORM *************** -->
      <div class="modal-footer">
        <div style="text-align: center; margin-left: auto; margin-right: auto;">
          <!-- *********** BOTON CERRAR (resetear forms y variables) *************** -->
          <button class="btn btn-danger btn-lg" data-dismiss="modal" type="button" (click)="resetForm()">
            Cerrar
          </button>
          &nbsp;
          <!-- *********** BOTON NEXT TYPE RESOURCE *************** -->
          <button type="submit" class="btn btn-success btn-lg" *ngIf="this.typeRscUpload == undefined"
            (click)="updateTypeRsc()">Siguiente</button>

          <!-- *********** BOTON NEXT TYPE PREGUNTA *************** -->
          <button type="submit" class="btn btn-success btn-lg"
            *ngIf="this.typeRscUpload == 'Pregunta' && this.typeQuestion == undefined"
            (click)="updateTypeQuestion()">Siguiente</button>

          <button type="submit" class="btn btn-success btn-lg"
            *ngIf="this.typeRscUpload == 'Pregunta' && this.typeQuestion != undefined && this.respuestasForm == false && this.finishForm == false"
            (click)="getCommonFieldPreguntas()">Siguiente</button>

          <!-- *********** BOTON NEXT IMAGENES AVATAR *************** -->
          <button type="submit" class="btn btn-success btn-lg"
            *ngIf="this.typeRscUpload == 'Avatar' && !this.imgAvataresForm" (click)="updateAvatar()">Siguiente</button>

          <!-- *********** BOTON NEXT COLECCION (AÑADIR CROMOS) *************** -->
          <button type="submit" class="btn btn-success btn-lg"
            *ngIf="this.typeRscUpload == 'Colección' && !this.cromosForm" (click)="updateColeccion()">Siguiente</button>

          <!-- *********** BOTON SUBMIT UPLOAD RESOURCE *************** -->
          <button type="submit" class="btn btn-primary btn-lg"
            *ngIf="this.typeRscUpload != undefined && this.finishForm == true" (click)="uploadResource()">Subir</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>