.card-rsc:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.icon-simple-remove:hover{
  cursor: pointer;
}

.jsonHelp:hover{
  cursor: pointer;
  color: violet;
}

.grid-wrapper {
    
    margin: 10px auto;
    width:1000px;
    height:1000px;
    display:grid;
    grid-template-columns: 1000px 1000px;
    
   
    grid-row-gap: 100px;
    
}

.grid2x2 {
    min-height: 200%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
  }
  .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .modal {
    background-color: rgba(128, 128, 128, 0.418);
 }
