.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.resource-header {
    padding-left: 5px;
}

.card{
    max-width: 400px;
    margin: 2px
}

.imagenCromo{
    max-width: 380px;
    height: 400px;
}

div.click-to-top span 
  {display: none; position: absolute; bottom: 0; left: 0; right: 0; background: #333; color: #fff; }

div.click-to-top:hover span {display: block; }

.grid-wrapper {
    display: grid;
    margin: 70px;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-column-gap: 2px;
}

