<app-navbar></app-navbar>

<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">CLASSPIP</h1>
        <h3>
          La herramienta de gamificación ideal para cualquier tipo de sistema educativo
        </h3>
        <button class="btn btn-warning btn-round btn-lg" (click)="goJuegoRapido()">JUEGO RÁPIDO</button>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section section-javascript">
      <div class="container">
        <div class="row align-items-center">            
            <div class="col-lg-4" style="text-align: center;">
              <carousel [showIndicators]="false">
                <slide>
                  <img alt="First slide" class="d-block w-400" src="assets/img/ejemplo.png" />
                </slide>
                <slide>
                  <img alt="Second slide" class="d-block w-400" src="assets/img/avatares.png" />
                </slide>
                <slide>
                  <img alt="Third slide" class="d-block w-400" src="assets/img/gamificacion.jpg" />
                </slide>
              </carousel>
            </div>
          </div>
        </div>
      </div>
  </div>

  <app-footer></app-footer>