<app-navbar></app-navbar>

<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">CLASSPIP</h1>
        <img src="../../../assets/img/classpip-icon.png" width="200" height="200">
        <h3>
          La herramienta de gamificación ideal para cualquier tipo de sistema educativo
        </h3>
        <button class="btn btn-warning btn-round btn-lg" (click)="goDown(section1)">VER MÁS</button>
      </div>
    </div>
  </div>
  <!-- <div class="main">
    <div class="section section-javascript">
      <div class="container">
        <div class="row align-items-center">            
            <div class="col-lg-4" style="text-align: center;">
              <carousel [showIndicators]="false">
                <slide>
                  <img alt="First slide" class="d-block w-400" src="assets/img/ejemplo.png" />
                </slide>
                <slide>
                  <img alt="Second slide" class="d-block w-400" src="assets/img/avatares.png" />
                </slide>
                <slide>
                  <img alt="Third slide" class="d-block w-400" src="assets/img/gamificacion.jpg" />
                </slide>
              </carousel>
            </div>
          </div>
        </div>
      </div>
  </div> -->
  <div #section1></div>

</div>
<hr>
<section class="section section-lg">
  <section class="section">
    <img class="path" src="assets/img/path4.png" />

    <div class="container">
      <h1><b>ECOSISTEMA CLASSPIP</b></h1>
      <br><br>
      <div class="row row-grid justify-content-between">
        <div class="col-md-5 mt-lg-5">
          <div class="row">
            <div class="col-lg-6 col-sm-12 px-2 py-2" tooltip="Aplicación de gestión para profesores">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="tim-icons icon-chart-bar-32 text-warning"> </i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p></p>
                        <p class="card-category">DASHBOARD</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 px-2 py-2" tooltip="Aplicación que usan los alumnos">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="tim-icons icon-controller text-danger"> </i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <!-- <p class="card-title">MÓVIL ALUMNO</p> -->
                        <p></p>
                        <p class="card-category">MÓVIL ALUMNO</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-12 px-2 py-2" placement="bottom" tooltip="Versión móvil del Dashboard">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="tim-icons icon-mobile text-info"> </i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <!-- <p class="card-title">593</p> -->
                        <p></p>
                        <p class="card-category">MÓVIL PROFESOR</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 px-2 py-2" placement="bottom" tooltip="Aplicación para juegos rápidos">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="tim-icons icon-puzzle-10 text-success">
                        </i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <!-- <p class="card-title">CLASSPIP EXPRESS</p> -->
                        <p></p>
                        <p class="card-category">CLASSPIP EXPRESS</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <br><br><br>
            <p>
              Classpip es una herramienta para la gamificación formada por diferentes aplicaciones. ¡Coloca el cursor
              encima de cada aplicación para obtener más información!
            </p>
            <br />
            <p>
              En esta web, se
              reúnen todos los profesores de las diferentes organizaciones que trabajan con Classpip para compartir
              recursos, experiencias y conocer más acerca de la herramienta.
            </p>
            <br />

            <a class="font-weight-bold text-info mt-5" href="/#/que-es">
              Quiero saber más <i class="tim-icons icon-minimal-right text-info"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="section section-lg">
  <section class="section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-12">
          <div class="card card-coin card-plain" style="border-color: hotpink;">
            <div class="card-body">
              <h1 class="text-center">¿Por qué usar Classpip?</h1>
            </div>
          </div>
          <h3 class="text-center">LLeva tus clases a otro nivel con todas las funcionalidades que te ofrece Classpip
          </h3>
          <div class="row row-grid justify-content-center">
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="tim-icons icon-bulb-63"> </i>
                </div>
                <h4 class="info-title">Clases dinámicas</h4>
                <hr class="line-primary" />
                <p>
                  Haz que tus alumnos esten más motivados, atentos y concentrados usando las innovadoras herramientas
                  de
                  gamificación que tiene Classpip, fomentando el uso de las nuevas tecnologías y el trabajo en equipo.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-warning">
                  <i class="tim-icons icon-settings-gear-63"> </i>
                </div>
                <h4 class="info-title">Customizable</h4>
                <hr class="line-warning" />

                <p>
                  ¡Todo a tu gusto! <br>Organiza todos tus cursos en grupos de alumnos. Crea tus propios recursos o
                  usa
                  los
                  recursos públicos
                  para personalizar los premios, los juegos y los
                  cuestionarios según tus necesidades y las de tus alumnos.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-success">
                  <i class="tim-icons icon-single-02"> </i>
                </div>
                <h4 class="info-title">Gestión aula</h4>
                <hr class="line-success" />

                <p>
                  ¡Simplifica tus tareas diarias! <br>Con Classpip, puedes realizar cuestionarios y obtener los
                  resultados
                  en un informe con un sólo click, controlar la asistencia a clase, dar premios a los alumnos y muchas
                  cosas más.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="tim-icons icon-spaceship"> </i>
                </div>
                <h4 class="info-title">Constante crecimiento</h4>
                <hr class="line-danger" />

                <p>
                  ¡En Classpip no paramos de trabajar! Constantemente se desarrollan nuevas funcionalidades para estar
                  a
                  la vanguardia y proporcionar herramientas de calidad a todos los profesores de nuestra comunidad.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<br><br>
<app-footer></app-footer>