<app-navbar></app-navbar>
<br>
<br>
<div class="wrapper">
    <div class="main">
        <div class="section section-basic" id="basic-elements">
            <div class="container">
                <h2>¿QUÉ ES CLASSPIP?</h2>
                <h4>Classpip es una herramienta para introducir gamificación en el aula. La gamificación consiste en la
                    introducción de las mecánicas típicas de los juegos en escenarios que no son juegos, para motivar a
                    las personas a hacer cosas que quizá no tienen muchas ganas de hacer.</h4>
                <br>
                <div class="content-center brand" style="text-align: center;">
                    <img src="../../../assets/img/classpip-icon.png">
                </div>
                <br>
                <h2>ORIGEN</h2>
                <h4>ClassPip sale de la idea de crear una plataforma de gamificación para las escuelas y facilitar el
                    aprendizaje de ciertos aspectos y conceptos a través de los juegos</h4>
                <br>
                <br>
                <h2>DESARROLLO</h2>
                <h4>El desarrollo de Classpip se ha llevado a cabo a través de los diferentes Trabajos de Final de Grado
                    de varios alumnos de la Escola d’Enginyeria de Telecomunicació i Aeroespacial de Castelldefels
                    (EETAC).</h4>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>