<app-navbar></app-navbar>
<br>
<br>
<div class="wrapper">
    <div class="page-header">

        <div class="content-center">
            <div class="row row-grid justify-content-between align-items-center text-left">
                <div class="col-lg-6 col-md-6">
                    <h1 class="text-white">
                        ¿QUÉ ES CLASSPIP?
                    </h1>
                    <p class="text-white mb-3" style="text-align: justify;">
                        Classpip es una herramienta orientada al mundo de la educación que permite al profesor usar
                        diferentes metodologías basadas en la gamificación con el objetivo de atraer la atención de los
                        estudiantes. Con Classpip se crea un nuevo entorno educativo donde el alumno consigue despertar
                        su interés, gracias a ver recompensados sus esfuerzos de una forma tangible y haciendo la forma
                        de aprender mucho más amena.
                    </p>


                </div>
                <div class="col-lg-4 col-md-5">
                    <img alt="Circle image" class="img-fluid" src="../../../assets/img/classpip-icon.png" />
                </div>
            </div>
        </div>
    </div>
    <section class="section section-lg">
        <section class="section">
            <img class="path" src="assets/img/path4.png" />

            <div class="container">
                <div class="row row-grid justify-content-between">
                    <div class="col-md-5 mt-lg-5">
                        <img src="../../../assets/img/gamificacion.png">
                    </div>
                    <div class="col-md-6">
                        <div class="pl-md-5">
                            <h1>
                                GAMIFICACIÓN
                            </h1>
                            <p style="text-align: justify;">
                                El concepto de gamificación se basa en la aplicación de las mecánicas, dinámicas y
                                estéticas de los
                                videojuegos en el ámbito académico-profesional, con el objetivo de mejorar los
                                resultados de las
                                diferentes prácticas llevadas a cabo, además de buscar captar la atención del alumno de
                                una manera
                                mucho más entretenida, ayudando así a comprender de forma mucho más eficiente todos los
                                conocimientos impartidos y generando una motivación extra para seguir aprendiendo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="section section-lg">
        <section class="section">
            <img class="path" src="assets/img/path4.png" />

            <div class="container">
                <div class="row row-grid justify-content-between">
                    <div class="col-md-5 mt-lg-5">

                        <h1>
                            ORÍGENES DE CLASSPIP
                        </h1>
                        <p style="text-align: justify;">
                            Classpip nace de la idea de dos profesores de la EETAC, Miguel Valero y Roc Messaguer, en el
                            momento en que deciden que introducir conceptos y metodologías de gamificación en sus clases
                            sería de gran ayuda, tanto para ellos como para su alumnado, ya que de esta forma
                            agilizarian muchas clases y los alumnos irían con más ganas a ellas. Por eso deciden iniciar
                            este proyecto en el año 2016.
                        </p>

                    </div>
                    <div class="col-md-6">
                        <div class="pl-md-5">
                            <img src="../../../assets/img/eetac.jpg" width="500px">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="section section-lg">
        <section class="section">
            <img class="path" src="assets/img/path4.png" />

            <div class="container">
                <div class="row row-grid justify-content-between">
                    <div class="col-md-5 mt-lg-5">
                        <img src="../../../assets/img/programacion.jpg">
                    </div>
                    <div class="col-md-6">
                        <div class="pl-md-5">
                            <h1>
                                EVOLUCIÓN DE CLASSPIP
                            </h1>
                            <p style="text-align: justify;">
                                A partir de la idea de Miguel y Roc, Classpip empieza a evolucionar gracias a los
                                alumnos que, en su último año de grado, deciden basar su trabajo final de carrera en
                                contribuir en el desarrollo y la mejora de la plataforma. Des de añadir nuevos juegos,
                                hasta implementar nuevos niveles de seguridad sobre los datos almacenados, los alumnos
                                que han ido contribuyendo a lo largo de los años han aportado su grano de arena para que
                                Classpip sea hoy en día la plataforma que es.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>






</div>

<app-footer></app-footer>