<app-navbar></app-navbar>

<br>

<div class="wrapper">
    <div class="main">
        <div class="section section-basic" id="basic-elements">
            <div class="resource-header">
                <button class="btn back-button" (click)="volver()"><i class="tim-icons icon-minimal-left"></i>
                    Volver</button>
                <h1 class="rsc-name" style="text-align: center;">{{rscName}}</h1>
                <div class="filter-btn" data-target="#modalFilter" style="text-align: center;"
                    *ngIf="isPreguntas() && (this.listTipo != undefined || this.listTematica != undefined)">
                    <button class="btn btn-danger" type="button" style="margin-right: auto;" (click)="clearFilters()"
                        *ngIf="isPreguntas() && this.isFilter">
                        <i class="tim-icons icon-trash-simple"> </i> &nbsp; Limpiar filtros
                    </button>
                    &nbsp;
                    <button class="btn btn-primary" type="button" style="margin-right: auto;"
                        (click)="modalFilter.show()">
                        <i class="tim-icons icon-settings-gear-63"> </i> &nbsp; Filtros
                    </button>
                </div>
            </div>

            <div class="text-center" *ngIf="listRecursos; else loading">
                <div *ngIf="listRecursos.length != 0; else noResources">
                    <table class="table" style="width:95%; text-align: center;">
                        <thead>
                            <tr>
                                <th class="text-center" width="40px">#</th>
                                <th class="text-center" width="100px">Nombre</th>
                                <th class="text-center" width="100px" *ngIf="isLoggedIn()">Propietario</th>
                                <th class="text-center" width="20px" *ngIf="isImagenes()">Ejemplos</th>
                                <th class="text-center" width="20px" *ngIf="isPreguntas()">Tematica</th>
                                <th class="text-center" width="20px" *ngIf="isPreguntas()">Tipo</th>

                                <th class="text-center" width="20px">ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 4 COLUMNAS: Numero, nombre, propietario y boton. Silueta???? -->
                            <tr *ngFor="let rsc of listRecursos; let indice=index">
                                <td class="text-center" width="40px">{{indice + 1}}</td>
                                <td class="text-center" width="100px">{{rsc.nombreRecurso}}</td>
                                <td class="text-center" width="100px" *ngIf="isLoggedIn()">{{rsc.propietario}}</td>
                                <td class="text-center" width="100px" *ngIf="isPreguntas()">{{rsc.Tematica}}</td>
                                <td class="text-center" width="100px" *ngIf="isPreguntas()">{{rsc.Tipo}}</td>
                                <td class="text-center" *ngIf="isImagenes()">
                                    <img style="width:50px; height: 50px; padding-right: 10px;"
                                        [src]="this.urlImagenesPerfil + rsc.ejemplos[0]">
                                    <img style="width:50px; height: 50px; padding-right: 10px;"
                                        [src]="this.urlImagenesPerfil + rsc.ejemplos[1]">
                                    <img style="width:50px; height: 50px; padding-right: 10px;"
                                        [src]="this.urlImagenesPerfil + rsc.ejemplos[2]">
                                </td>
                                <td class="td-actions text-center" width="20px">
                                    <a [routerLink]="['/recursos',recurso, rsc.id]" *ngIf="!isPreguntas()">
                                        <button type="button" rel="tooltip"
                                            class="btn btn-sm btn-success btn-roundbtn-icon" placement="bottom"
                                            tooltip="Ver" (click)="EnviaRecurso(rsc)" *ngIf="!isImagenes()">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </a>
                                    <button type="button" rel="tooltip" class="btn btn-sm btn-success btn-roundbtn-icon"
                                        placement="bottom" tooltip="Ver" (click)="modalShowQuestion.show()"
                                        (click)="verPregunta(rsc)" *ngIf="isPreguntas()">
                                        <i class="fas fa-eye"></i>
                                    </button>

                                    &nbsp;
                                    <button type="button" rel="tooltip" class="btn btn-sm btn-info btn-roundbtn-icon"
                                        placement="bottom" tooltip="Descargar" (click)="descargarRecurso(rsc)">
                                        <i class="tim-icons icon-cloud-download-93"></i>
                                    </button>
                                    &nbsp;
                                    <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-info btn-roundbtn-icon"
                                        placement="bottom" tooltip="Eliminar recurso" (click)="borraRecurso(rsc)" *ngIf=" isLoggedIn() && rsc.isPropietario ">
                                        <i class="tim-icons icon-trash-simple"></i>
                                    </button>
                                    <button  [disabled]="'true'" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-info btn-roundbtn-icon"
                                        placement="bottom" tooltip="No puedes eliminar este recurso" *ngIf="isLoggedIn() && !rsc.isPropietario">
                                        <i class="tim-icons icon-trash-simple"></i>
                                    </button>
                                    

                                    <!-- AVERIGUAR COMO MOSTRAR SOLO EN UNA FILA -->
                                    <!-- FUNCIONA, PERO VA TAN RAPIDO QUE NO LO VEO, AVER TU -->
                                    
                                    &nbsp;
                                    <span class="loading" *ngIf="this.isDownloading" ></span>
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <ng-template #noResources>
                    <div style="text-align: center;">
                        <br><br>
                        <h2>No hay recursos públicos de tipo "{{rscName}}"</h2>
                    </div>
                </ng-template>
            </div>
            <ng-template #loading style="text-align: center;">
                <div class="loader" style="margin:0 auto;" mode="indeterminate"></div>
            </ng-template>
            <br><br>
        </div>
    </div>
</div>

<!-- POPUP FILTROS PREGUNTAS -->
<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #modalFilter="bs-modal"
    id="modalFilters" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width:1250px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center mb-4 mt-3">
                    Filtra las preguntas por tipo o temática
                </div>
                <form>
                    <div class="form-group">
                        <label for="tematica">Temática</label>
                        <select class="form-control" id="tematica">
                            <option class="option" *ngFor="let tematica of listTematica" [value]="tematica">{{tematica}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo</label>
                        <select class="form-control" id="tipo">
                            <option class="option" *ngFor="let tipo of listTipo" [value]="tipo">{{tipo}}</option>
                        </select>
                    </div>
                    <div class="form-buttons" style="text-align: center;">
                        <button aria-hidden="true" class="btn btn-danger btn-round" data-dismiss="modal"
                            (click)="modalFilter.hide()" type="button">
                            Cancelar
                        </button>
                        &nbsp;
                        <button aria-hidden="true" class="btn btn-primary btn-round" data-dismiss="modal"
                            (click)="filter()" (click)="modalFilter.hide()" type="submit">
                            Filtrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- POPUP VER PREGUNTAS -->
<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black"
    #modalShowQuestion="bs-modal" id="modalShowQuestion" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center" *ngIf="this.pregunta != undefined">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button"
                    (click)="modalShowQuestion.hide()">
                    <i class="tim-icons icon-simple-remove"> </i>
                </button>
                <h4 class="title title-up">{{this.pregunta.Titulo}}</h4>
            </div>
            <div class="modal-body" *ngIf="this.pregunta != undefined">
                <h5>{{this.pregunta.Pregunta}}</h5>
                <div *ngIf="this.pregunta.Imagen != null" style = "text-align: center;">
                    <img [src]="this.urlImagenesPreguntas + this.pregunta.Imagen" style="text-align: center;">
                </div>
                <div class="container" *ngIf="this.pregunta.Tipo != 'Emparejamiento'" style="text-align: center;">
                    <h5 style="color:lightgreen;">{{this.pregunta.RespuestaCorrecta}}</h5>
                    <h5 style="color:red">{{this.pregunta.RespuestaIncorrecta1}}</h5>
                    <h5 style="color:red">{{this.pregunta.RespuestaIncorrecta2}}</h5>
                    <h5 style="color:red">{{this.pregunta.RespuestaIncorrecta3}}</h5>
                </div>
                <div class="container" *ngIf="this.pregunta.Tipo == 'Emparejamiento'" style="text-align: center;">
                    <div *ngFor="let pareja of this.pregunta.Emparejamientos">
                        <h5>{{pareja.l}} - {{pareja.r}}</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-danger" data-dismiss="modal" type="button" (click)="modalShowQuestion.hide()">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>